@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
.App {
  background-color: white;
  background-image: url("../../images/UEFAbg123.jpeg");
  height: 106vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
}
.History {
  margin-left: 200px;
  padding-top: 200px;
  margin-right: 200px;
}
.DisplayColumn {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 40px;
}
.DivVideo {
  height: 600px;
  width: 100%;
}

.DivVide iframe {
  width: 100%;
  height: 100%;
  position: relative;
}
.DivStats {
  background-color: white;
  width: 100%;
  height: 380px;
  border: 1px solid rgb(225, 219, 219);
  margin-bottom: 70px;
}
.DivStatsDisplay {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0px;
}
.DisplayColumn1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.DisplayColumn2 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(225, 219, 219);
  height: 60px;
  text-align: center;
}
.DisplayColumn2 img {
  height: 50px;
  width: 50px;
  left: 0px;
  margin-left: 0;
}
.Text1 {
  margin-top: 4px;
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: hsl(210, 87%, 37%);
  margin-bottom: 0px;
}
.Text5 {
  margin-top: 4px;
  font-family: "Archivo", sans-serif;
  font-size: 30px;
  font-weight: 550;
  color: hsl(210, 87%, 37%);
  margin-bottom: 30px;
}
.Text2 {
  margin-top: 30px;
  font-family: "Archivo", sans-serif;
  font-size: 30px;
  font-weight: 550;
  color: hsl(210, 87%, 37%);
}
.Text3 {
  color: hsl(210, 87%, 37%);
  font-size: 24px;
  font-weight: 450;
  font-family: "Archivo", sans-serif;
  margin-top: 16px;
}
.Text4 {
  color: hsl(210, 87%, 37%);
  margin-top: 16px;
  font-size: 24px;
  font-weight: 450;
  font-family: "Archivo", sans-serif;
}
.DisplayColumn11 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.DisplayWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 210px;
  overflow-y: scroll;
}
.DisplayWrapper1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 270px;
  overflow-y: scroll;
}
.DisplayColumn3 {
  display: grid;
  grid-template-columns: 1fr 8fr;
  text-align: center;
  margin-top: 40px;
}
.VideoText {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 800px;
}
.RonaldoText {
  margin-top: 30px;
  font-family: "Archivo", sans-serif;
  font-size: 44px;
  font-weight: 700;
  color: white;
  padding-top: 50px;
}
.RonaldoImg {
  width: 200px;
}
@media (max-width: 1700px) {
  .RonaldoText {
    padding-top: 34px;
  }
}
@media (max-width: 1600px) {
  .DisplayColumn {
    grid-template-columns: repeat(1, 1fr);
  }
  .DivStatsDisplay {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    margin-top: 130px;
  }
  .App {
    height: 150vh;
  }
}
@media (max-width: 1200px) {
  .DivStatsDisplay {
    grid-template-columns: repeat(1, 1fr);
  }
  .App {
    height: 192vh;
  }
  .RonaldoText {
    padding-top: 28px;
  }
}
