* {
  margin: 0;
}
.DisplayFlex {
  display: flex;
  flex-direction: row;
}
.DisplayColumn {
  display: flex;
  flex-direction: column;
}
.DisplayGridColumn {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
